<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask-SocketIO Example</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css" />
    <script>
        window.onload = function () {
            console.log(window.location.host);
            const socket = io({ autoConnect: false });
            socket.connect();
            let username = document.getElementById("current-user").textContent;
            socket.emit("user-join", username);

            document.getElementById("message").addEventListener("keyup", function (event) {
                if (event.key == "Enter") {
                    let message = document.getElementById("message").value;
                    socket.emit("new-message", message);
                    document.getElementById("message").value = "";
                }
            });

            socket.on("chat", function (data) {
                console.log(data);

                let ul = document.getElementById("chat-messages");
                let li = document.createElement("li");
                let messageText = document.createTextNode(data["username"] + ":" + data["message"]);
                li.appendChild(messageText);
                ul.appendChild(li);
            });

            socket.on("user-join", function (data) {
                console.log(data);

                let ul = document.getElementById("chat-messages");
                let li = document.createElement("li");
                // let italic = document.createElement("i");
                // <i><p> </p></i>
                let messageText = document.createTextNode("User " +  data["username"] + " has joined");
                // italic.appendChild(messageText);
                li.classList.add("log");
                li.appendChild(messageText);
                ul.appendChild(li);
            });
        };

    </script>
</head>

<body>

    <div id="chat">
        <p id="current-user">{{username}}</p>
        <ul id="chat-messages">
        </ul>
        <input type="text" id="message" placeholder="Enter a message">
    </div>

</body>

</html>
