<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flask-SocketIO Example</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css" />
</head>

<body>

    <div id="landing">
        <form action="{{url_for('chats')}}">
            <input type="text" id="username" name="username" placeholder="Username">
            <!-- <button id="join-button">Join</button> -->
            <input type="submit" value="Join"/>
        </form>
    </div>

</body>

</html>
